
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blank</h1>
                </div>
                <!-- /.col-lg-12 -->
                <a id= "btn-show" class="btn btn-success btn-circle pull-right">
                     <i class="fa fa-plus"></i>
                </a>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
<script>
$(function(){
    $("#btn-show").click(function(){
        Swal.fire({
            title: 'Selecione o Ano Base',
            input: 'select',
            inputOptions: {
                '2017': '2017',
                '2018': '2018'
                
            },
            showCancelButton: true,
            cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: '/backoffice/dashboard/set_ano',
                        data: {
                            ano: result.value
                        }
                    }).done(function(e){
                        Swal.fire({
                            type: 'success',
                            title: e['msg'],
                            showConfirmButton: false,
                            timer: 1500
                        });
                    });
                }
            });
        });
    });

</script>


